@{
    ViewData["Title"] = "New Task";
}

@model mission8_4._1.Models.Forum;

<div>
    <form method="post">
        
        <label asp-for="Task">Task Name:</label>
        <input type="search" asp-for="Task" /><br />

        <label asp-for="DueDate">Due Date:</label>
        <input type="text" asp-for="DueDate"/><br />

        <label asp-for="Quadrant">Quadrant</label>
        <select asp-for="Quadrant">
            <option value="1">Important Urgent</option>
            <option value="2">Important Not Urgent</option>
            <option value="3">Not Important Urgent</option>
            <option value="4">Not Important Not Urgent</option>
        </select><br />

        <label asp-for="Completed">Completed:</label>
        <input type="checkbox" asp-for="Completed"/><br />

        <label asp-for="Category">Category:</label>
        <select>
            @foreach(Category x in ViewBag.Categories)
            {
                <option value="x.CategoryId">@x.CategoryName</option>
            }
        </select>

        @*<input type="hidden" asp-for="TaskId" />*@

        <button type="submit">Submit</button>


    </form>
</div>