@{
    ViewData["Title"] = "Delete Task";
}

@model Forum

<h2>Confirm Task Deletion</h2>
<h5>Are you sure you want to delete the follwing task?</h5>
<p>&nbsp;&nbsp;@Model.Task</p>

<form method="post" asp-action="Delete">
    <button type="submit" class="btn btn-secondary">Delete</button>
    <a asp-controller="home" asp-action="Quadrants" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="TaskId" />
</form>