@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a web application inspired by the book, "The 7 Habits of Highly Effective People."<br />Please use the navigation menu above to explore more!</p>
</div>
